body {
    background-color: #f9f9f9;
}

header {
    background-color: #1c6494;
}

footer {
    background-color: #1c6494;
}

h2 {
    color: #1c6494;
}

.btn-orange {
    background-color: orange;
    color: white;
    border: none;
}

.carousel-inner img {
    max-height: 300px;
    object-fit: cover;
}